<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/admin/changePassword.css">
    <script src="https://kit.fontawesome.com/0df0fc7e74.js"></script>
</head>

<body>
    <div class="wrapper">
        <div class="sidebar">
            <h3>Admin</h3>
            <ul>
                <li><a href="/admin/loginSuccess?token=<%=token%>"><i class="fa-solid fa-bars"></i>Dashboard</a></li>
                <li><a href="/admin/addSpecialization?token=<%=token%>"><i class="fa-solid fa-staff-aesculapius"></i>Specializations</a></li>
                <li><a href="/admin/addDoctor?token=<%=token%>"><i class="fa-solid fa-user-doctor"></i>Add Doctor</a></li>
                <li><a href="/admin/viewDoctors?token=<%=token%>"><i class="fa-solid fa-hand-holding-medical"></i>View Doctors</a></li>
                <li><a href="/admin/viewPatients?token=<%=token%>"><i class="fa-solid fa-hospital-user"></i>View Patients</a></li>
                <li> <a href="/admin/viewAppointments?token=<%=token%>"><i class="fa-solid fa-notes-medical"></i>View Appointments</a></li>
                <li><a href="/admin/changePassword?token=<%=token%>"><i class="fa-solid fa-key"></i>Change Password</a></li>
                <li><a href="/"><i class="fa-solid fa-right-from-bracket"></i>Logout</a></li>
                
            </ul> 
        </div>
        <div class="main_content">
            <div class="header">HEALTHCARE MANAGEMENT SYSTEM</div>  
            <div class="info">
              <div>
                <p id="p1">Update Admin Credentials</p>
                <form action="changePassword2?token=<%=token%>" id="form1" onsubmit="return validate()" method="post">
                    
                        <label>Admin details:</label>
                        <p class="p3"><i class="fa fa-user icon"></i><input type="text" name="email" placeholder="Username" id="email"></p>
                        <p id="emailErr" class="err"></p>
                        <p class="p3"><i class="fa fa-user icon"></i><input type="text" name="nemail" placeholder="New Username" id="nemail"></p>
                        <p id="nemailErr" class="err"></p>
                        <p class="p3"><i class="fa fa-lock icon"></i><input type="password" name="pwd" placeholder="Current Password" id="pwd"></p>
                        <p id="pwdErr" class="err"></p>
                        <p class="p3"><i class="fa fa-lock icon"></i><input type="password" name="npwd" placeholder="New Password" id="npwd"></p>
                        <p id="npwdErr" class="err"></p>
                        <p class="p3"><i class="fa fa-lock icon"></i><input type="password" name="cpwd" placeholder="New Password Again" id="cpwd" ></p>
                        <p id="cpwdErr" class="err"></p>
                        <p id="p2"><a href="/admin/loginSuccess?token=<%=token%>">back</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<button type="submit">Update <i class="fa fa-arrow-circle-right"></i></button></p>
                </form>
              </div>
            </div>
        </div>
    </div>
</body>
<script>
    if("<%=msg%>"=="Username and Password updated!!")
    {
        alert("<%=msg%>");
    }
    if("<%=msg%>"=="Old Password not match !!")
    {
        document.getElementById("pwdErr").innerHTML="<%=msg%>";
        document.getElementById("pwd").focus();
    }
    if("<%=msg%>"=="Old Username not match !!")
    {
        document.getElementById("emailErr").innerHTML="<%=msg%>";
        document.getElementById("email").focus();
    }
</script>
<script src="/js/admin/changePassword.js"></script>
</html>