<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/0df0fc7e74.js"></script>
    <link rel="stylesheet" href="/css/admin/addDoctor.css">
    
</head>
<body>
    <div class="wrapper">
        <div class="sidebar">
            <h3>Admin</h3>
            <ul>
                <li><a href="/admin/loginSuccess?token=<%=token%>"><i class="fa-solid fa-bars"></i>Dashboard</a></li>
                <li><a href="/admin/addSpecialization?token=<%=token%>"><i class="fa-solid fa-staff-aesculapius"></i>Specializations</a></li>
                <li><a href="/admin/addDoctor?token=<%=token%>"><i class="fa-solid fa-user-doctor"></i>Add Doctor</a></li>
                <li><a href="/admin/viewDoctors?token=<%=token%>"><i class="fa-solid fa-hand-holding-medical"></i>View Doctors</a></li>
                <li><a href="/admin/viewPatients?token=<%=token%>"><i class="fa-solid fa-hospital-user"></i>View Patients</a></li>
                <li> <a href="/admin/viewAppointments?token=<%=token%>"><i class="fa-solid fa-notes-medical"></i>View Appointments</a></li>
                <li><a href="/admin/changePassword?token=<%=token%>"><i class="fa-solid fa-key"></i>Change Password</a></li>
                <li><a href="/"><i class="fa-solid fa-right-from-bracket"></i>Logout</a></li>
                
            </ul> 
        </div>
        <div class="main_content">
            <div class="header">HEALTHCARE MANAGEMENT SYSTEM</div>  
            <div class="info">
              <div>
                <p id="p1">Update Doctor</p>
        <form action='validateUpdateDoctor?id=<%=obj._id%>&token=<%=token%>' id="form1" method="post"  onsubmit="return validate()">
        <label for="specialization">Specialization</label><br>
        <select name="spc" id="spc" value="<%obj.spc%>">
            <option value="<%= obj.spc%>" selected><%= obj.spc%></option>
   <!--     <%
                    if(result.length!=0){
                        for(var i=0;i<result.length;i++){
                            if(obj.spc!=result[i].spc){
            %>
            <option value="<%=result[i].spc %>"><%=result[i].spc %></option>
            <%
                            }
                    }   
                }    
            %>
     -->   
        </select><br>
        <label for="name">Doctor Name</label><br>
        <input type="text" name="name" id="name" placeholder="Enter Doctor Name" value="<%=obj.name%>"><br>
        <p id="nameErr" class="err"></p>
        <label for="fee">Consultancy Fee</label><br>
        <input type="number" name="fee" id="fee" placeholder="Enter Doctor Consultancy Fees"  value="<%=obj.fee%>"><br>
        <p id="feeErr" class="err"></p>
        <label for="contact">Doctor Contact Number</label><br>
        <input type="text" name="contact" id="contact" placeholder="Enter Doctor Contact Number"  value="<%=obj.contact%>"><br>
        <p id="contactErr" class="err"></p>
        <label for="email">Email</label><br>
        <input type="text" name="email" id="email" placeholder="Enter Email"  value="<%=obj.email%>"><br>
        <p id="emailErr" class="err"></p>
        <label for="pwd">Password</label><br>
        <input type="password" name="pwd" id="pwd" placeholder="New Password"><br>
        <p id="pwdErr" class="err"></p>
        <label for="cpwd">Confirm Password</label><br>
        <input type="password" name="cpwd" id="cpwd" placeholder="Confirm Password"><br>
        <p id="cpwdErr" class="err"></p>
        <a href="/admin/viewDoctors?token=<%=token%>">back</a><input type="submit" value="Submit">
    </form>
</div>
</div>
</div>
</div>
</body>
<script>
    if("<%=msg%>"=="Doctor Successfully updateded!")
    {
        alert("<%=msg%>");
    }
    if("<%=msg%>"=="Doctor with this Email is already Exist")
    {
        document.getElementById("emailErr").innerHTML="<%=msg%>";
        document.getElementById("email").focus();
    }
</script>
<script src="/js/admin/updateDoctor.js"></script>
</html>