<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/0df0fc7e74.js"></script>
    <link rel="stylesheet" href="/css/patient/changePassword.css">
</head>

<body>
    <div class="wrapper">
        <div class="sidebar">
            <h3>Dr.<%=user.name%></h3>
            <ul>
                <li><a href="/doctor/dashboard?id=<%=user._id%>&token=<%=token%>"><i class="fa-solid fa-bars"></i>Dashboard</a></li>
                <li><a href="/doctor/viewAppointments?userid=<%=user._id%>&token=<%=token%>"><i class="fa-solid fa-notes-medical"></i>View Appointments</a></li>
                <li><a href="/doctor/Editprofile?userid=<%=user._id%>&token=<%=token%>"><i class="fa-solid fa-user"></i>Edit Profile</a></li>
                <li><a href="/doctor/changePassword?userid=<%=user._id%>&token=<%=token%>"><i class="fa-solid fa-key"></i>Change Password</a></li>
                <li><a href="/"><i class="fa-solid fa-right-from-bracket"></i>Logout</a></li>
            </ul> 
        </div>
        <div class="main_content">
            <div class="header">HEALTHCARE MANAGEMENT SYSTEM</div>  
            <div class="info">
              <div>
                <p id="p1">Change Password</p>
                <form action="changePassword2?id=<%=user._id%>&token=<%=token%>" id="form1" onsubmit="return validate()" method="post">
                        <p class="p2">Your account details:</p>
                        <p class="p3"><i class="fa fa-user icon"></i><input type="text" name="email" placeholder="Username" id="email" value="<%=user.email%>" readonly></p>
                        <p class="p3"><i class="fa fa-lock icon"></i><input type="password" name="pwd" placeholder="Current Password" id="pwd"></p>
                        <p id="pwdErr" class="err"></p>
                        <p class="p3"><i class="fa fa-lock icon"></i><input type="password" name="npwd" placeholder="New Password" id="npwd"></p>
                        <p id="npwdErr" class="err"></p>
                        <p class="p3"><i class="fa fa-lock icon"></i><input type="password" name="cpwd" placeholder="New Password Again" id="cpwd" ></p>
                        <p id="cpwdErr" class="err"></p>
                        <p id="p2"><a href="/doctor/dashboard?id=<%=user._id%>&token=<%=token%>">back</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<button type="submit">Change <i class="fa fa-arrow-circle-right"></i></button></p>
                </form>
              </div>
            </div>
        </div>
    </div>
</body>
<script>
    if("<%=msg%>"=="Your password Updated !!")
    {
        alert("<%=msg%>");
    }
    if("<%=msg%>"=="Old Password not match !!")
    {
        document.getElementById("pwdErr").innerHTML="<%=msg%>";
        document.getElementById("pwd").focus();
    }
</script>
<script src="/js/doctor/changePassword.js"></script>
</html>